@model Tsserver


@{
    ViewData["Title"] = "Покупка сервера";
}

<div class="buy">
    <h2>@ViewData["Title"]</h2>

    <form asp-controller="Cabinet" asp-action="Create" asp-antiforgery="true">

        <div class="buy">
            <div class="field border">
                <ul class="hr">
                    <li>Доменное имя</li>
                    <li>
                        <div class="input-group col-xs-8 col-sm-6 col-md-5 col-lg-4">
                            <input type="text" asp-for="dns" value="" placeholder="Введите доменное имя" id="dns_input" class="form-control" />
                            <span class="input-group-addon" id="basic-addon2">.easy-ts.ru</span>
                        </div>
                    </li>
                    <li><span id="dns_status">Введите домен(необязательно)</span></li>
                </ul>
            </div>

            <div class="field border">
                <div class="field">
                    <label>Время оплаты</label>
                    <select asp-for="time_payment">
                        <option value="1">1 месяц</option>
                        <option value="2">2 месяца</option>
                        <option value="3">3 месяца</option>
                        <option value="6">6 месяцев</option>
                        <option value="12">12 месяцев</option>
                    </select>
                </div>
            </div>

            <div class="field border">
                <h4>Стоимость: <span class="cost"></span>руб.</h4>
                <h5><span class="lacks"></span></h5>
                <h5>На вашем счету: @ViewBag.current_user.money руб. <a href="/cabinet/pay">Пополнить</a></h5>
            </div>

            <div class="actions">
                <input type="submit" value="Купить сервер" />
            </div>
        </div>

    </form>

</div>


<script>
    var UserMoney = parseInt(@(ViewBag.current_user.money));
    var UserAutoExtension = Boolean(@*@ViewBag.current_user.auto_extension*@);
</script>
