<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TeamSpeakWEB</title>

    <!-- libs -->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet"/>

    <!-- custom -->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/cabinet.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/teamspeak.css" rel="stylesheet" />
    
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TeamSpeakWEB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cabinet" asp-action="Index">Личный кабинет</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter44505961 = new Ya.Metrika({
                        id: 44505961,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/44505961" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <!-- Yandex.Metrika counter -->


    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- VK Widget -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 126399695, {});

    </script>
    <!-- VK END -->



    <main role="main" class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <div flashes></div>
            @RenderBody()
        </main>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row footerlinks">
                <div class="col-sm-4">
                    <ul>
                        <li><p>СОЦ СЕТИ</p></li>
                        <li><a href="https://vk.com/easy_ts3" target="_blank">Группа в ВК</a></li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul>
                        <li><p>EASY-TS.ru</p></li>
                        <li><a href="https://vk.com/easy_ts3" target="_blank">О нас</a></li>
                        <li>
                            <a href="https://metrika.yandex.ru/stat/?id=44505961&amp;from=informer"
                               target="_blank" rel="nofollow">
                                <img src="https://informer.yandex.ru/informer/44505961/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                     style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="44505961" data-lang="ru" />
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul>
                        <li><p>Правила</p></li>
                        <a href="/regulations">Пользовательское соглашение</a>
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <p>Copyright © 2019 easy-ts.ru</p>
            </div>
        </div>
    </footer>



    <!-- libs -->
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- custom -->
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
