
.main {
    background-color: #eee;
    margin-top: 30px;
}


.footer {
    height: 200px;
    background-image: image_url('/img/footer.jpg');
}


.footerlinks {
    margin-top: 30px;
    p

{
    color: white;
}

div ul li {
    list-style-type: none;
    a

{
    color: white;
}

}
}

.copyright {
    margin-top: 20px;
    p

{
    color: white;
    font-size: 16px;
}

}

.main {
}


* {
    margin: 0;
    padding: 0;
}

html, body, #wrap {
    height: 100%;
}

    body > #wrap {
        height: auto;
        min-height: 100%;
    }

#main {
    padding-bottom: 150px;
}
/* must be same height as the footer */
#footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
}
/* CLEAR FIX*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */


.alert-notice {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
